<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyApplication.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyApplication.Properties.Settings.ApplicationConnectionString"
            connectionString="Data Source=.;Initial Catalog=Application;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyApplication.Properties.Settings.applicationConnectionString1"
            connectionString="server=localhost;user id=user;database=application"
            providerName="MySql.Data.MySqlClient" />
        <add name="MyApplication.Properties.Settings.applicationConnectionString2"
            connectionString="server=localhost;user id=user;password=pass;persistsecurityinfo=True;database=application"
            providerName="MySql.Data.MySqlClient" />
        <add name="MyApplication.Properties.Settings.applicationConnectionStringMySQL"
            connectionString="server=localhost;user id=user;database=application;password=pass;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MyApplication.Config>
            
        </MyApplication.Config>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.13.0" newVersion="8.0.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>